.about {
    .generalPadding();
    .flexbox-row();
    background-color: @lightGrey;
    
    .about-content {
        text-align: center;
        padding-left: 2rem;
    }

    h2 {
        padding: 2rem 0 2rem 0;
        text-align: center;
    }

    button {
        .button();
        margin-top: 2rem;
        
    }

    p {
        text-align: left;
        flex-wrap: wrap;
    }

    img {
        margin-top: 2rem;
    }

    // @media @tablet {
    //     button {
    //         margin-top: 1rem;
    //     }
    // }
}