.header {
    background-color: @lightGrey;
    .flexbox-row();
    padding: 3rem;

    .header-content {
        text-align: center;

        h2 {
            .h2();
        }

        button {
            .button();
            margin-top: 40px;
        }
    }

    img {
        max-width: 100%;
        justify-content: center;
    }

    @media @mobile {
        display: flex;
        flex-direction: column-reverse;
    }

    
}
