.navigation {

    .menu-icon {
        display: none;
    }
    .flexbox-row();
    justify-content: center;
    background-color: @blue;
    padding: 20px;  
    
    h1 {
        font-family: @font-style-nav;
        color: @white;
        font-size: 4rem;
        padding-right: 15rem;
        // padding-left: 30rem;
    }

    a {
        font-family: @font-style-nav;
        color: @white;
        text-decoration: none;
        padding-right: 3rem;
        font-size: 1.8rem; 
    }

    a:hover {
        color: black;
    }

    .button {
        .button();
    }

    

    @media @tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h1 {
            padding-right: 0;
            padding-bottom: 20px;
        }

    }

    @media @mobile {

        display: none;


        a {
            padding-right: 0;
            // padding-bottom: 1rem;
        }

        .nav-links {
            display: none;
        }

        h1 {
            padding-bottom: 0;
        }

        .team-menu {
            margin-top: 2rem;

            button {
                margin-left: 10rem;
            }
        }
    
    }
    
}

.nav-mobile {
    display: none;

   
}

@media @mobile {

    .nav-mobile {

        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: @blue;

        .nav-links2{
            display: none;
            margin-top: 70px;
            background-color: @blue;
            border: none;
            padding: 1rem;

            a {
                color: @white;
                text-decoration: none;
                font-size: 2rem;
                padding-bottom: 1rem
            }

            a:hover {
                color: black;
            }
        }
        
    
        h1 {
            font-family: @font-style-nav;
            color: @white;
            font-size: 4rem;
            padding-top: 2.5rem;

        }
        .menu-open {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 99;
            border: 1px solid white;
        }

        .menu-btn {
            display: flex;
            flex-direction: column;
        }
        
        .menu-icon {
            display: inline;
            margin-top: 2.5rem;
        }
    
        .button {
            background-color: @blue;
            padding: 0 2rem 0 2rem;
            margin: 3rem 0 3rem 0;
            color: @white;
            cursor: pointer;
            font-size: 1.6rem;
            border: 1px solid @white;
            border-radius: 5px;
        }
    
    }

}





