// Font styles
@font-style: 'Mali', cursive;
@font-style-nav: 'Mali', cursive;



// colors  #07abff  #E6E3E3
@white: white;
@primary-color: teal;
@blue: #789956;
@darkGrey: #1D1D1D;
@lightGrey: #F4F4F4;



// responsive
@mobile:~'(max-width: 500px)';
@tablet:~'(max-width: 768px)';

// Font sizes

